<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>

<div id="app">
  <ul>
    <li v-for="(cor, index) in cores" :key="cor">
      [{{ index }}] {{ cor }}
    </li>
  </ul>
  <hr>
  <button @click="cores.push('branca')">
    Adicionar
  </button>
  <template v-for="(cor, index) in cores">
    <h1>
      {{ cor }}
    </h1>
    <p>
      {{ index }}
    </p>
  </template>
  <ul>
    <li v-for="pessoa in pessoas"> 
      <div v-for="(valor, chave, index) in pessoa">
        {{ chave }} = {{ valor }} ({{ index }})
      </div>
    </li>
  </ul>
  <span v-for="n in 10">
    {{ n }}
  </span>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      cores: [
        'vermelho',
        'verde',
        'amarelo',
        'azul',
      ],
      pessoas: [
        {
          nome: 'Ana',
          idade: 26,
          peso: 59,
        },
        {
          nome: 'Guilherme',
          idade: 22,
          peso: 89,
        },
      ],
    },
  });
</script>

<style>
  h1, p {
    display: inline;
  }
</style>
